{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Leave Days Left</title>
</head>

<body>

    <div><a style="float:right; margin-right: 40px" href="{% url 'logout' %}"> <button>Logout</button> </a></div>
    {% if messages %}
    <center>
    <div style="max-width:550px;">
        {% for message in messages %}
        <div {% if message.tags == 'error' %} class="alert alert-danger" role="alert" {% else %} class="alert alert-success" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    </center>
    {% endif %}
    <br><br><br><br>

    <div class="form" style="max-width: 900px;">
        <div class="title-row">
            <h1>Leave days remaining</h1>
        </div>
        <center>
        <table>
          <tr>
            <th>Leave Type</th>
            <th>Leave Description</th>
            <th>No. of days left</th> 
            <th>Maximum days</th>
          </tr>
          {% for a in data %}
              <tr>
                {% for b in a %}
                    <td>{{ b }}</td>
                {% endfor %}
              </tr>
          {% endfor %}
        </table>
        </center>
    </div>

    <center>
        <a style="margin-right: 20px" href="{% url 'dashboard' %}"> <button>Back</button> </a>
    </center>

</body>

</html>